{% extends 'company_panel/company_header.html' %}
{% load static %}

{% block tab_content %}
    <div class="row">
        <button type="button" class="mx-auto col-auto btn btn-outline-success" data-toggle="modal" data-target="#newInviteModal"><img src="{% static 'team/img/add.svg' %}">Invite Person</button>
    </div>

    <ul class="list-group list-group-flush mt-3">
        {% for user in team %}
            <li class="list-group-item mx-auto">
                <div class="d-flex w-100">
                    <a href="#" class="btn btn-link"> <h6 class="col-auto" style="width: 26em; word-break: break-all;">{{ user.first_name }} {{ user.last_name }} </a> {% if company.owner == user %} <span class="badge badge-secondary">OWNER</span> {% endif %}</h6>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}