.idea/
db.sqlite3
timesheets/__pycache__/
authentication/__pycache__/
authentication/migrations/__pycache__/
authentication/static/
company_panel/__pycache__/
company_panel/migrations/__pycache__/
company_panel/templatetags/__pycache__/
company_panel/static/
expenses/__pycache__/
expenses/migrations/__pycache__/
expenses/static/
invoices/__pycache__/
invoices/migrations/__pycache__/
invoices/static/
manage_app/__pycache__/
manage_app/migrations/__pycache__/
manage_app/static/
projects/__pycache__/
projects/migrations/__pycache__/
projects/static/
team/__pycache__/
team/migrations/__pycache__/
team/static/
times/__pycache__/
times/migrations/__pycache__/
times/static/
notifications/__pycache__/
notifications/migrations/__pycache__/
notifications/templatetags/__pycache__/
notifications/static/
settings/__pycache__/
settings/migrations/__pycache__/
settings/static/
static/
