{% extends 'timesheets/base.html' %}
{% block content %}
    {% if company == 0 %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Seems you are not member of any company</p>
            <hr class="my-4">
            <p>Click button below to create new company</p>
            <a class="btn btn-primary btn-lg" href="{% url 'new_company' %}">Create company</a>
        </div>
    {% else %}

        {% url 'time' as time_path %}
        {% url 'expenses' as expenses_path %}
        {% url 'projects' as projects_path %}
        {% url 'team' as team_path %}
        {% url 'invoices' as invoices_path %}
        {% url 'manage' as manage_path %}

        <div class="container">
            <h3 class="mt-4 text-center text-monospace">{{ company.name }}</h3>
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link {% if time_path in request.path %} active {% else %} '' {% endif %} btn btn-link" href="{{ time_path }}">Time</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == expenses_path %} active {% else %} '' {% endif %} btn btn-link" href="{{ expenses_path }}">Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == projects_path %} active {% else %} '' {% endif %} btn btn-link" href="{{ projects_path }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == team_path %} active {% else %} '' {% endif %} btn btn-link" href="{{ team_path }}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == invoices_path %} active {% else %} '' {% endif %} btn btn-link" href="{{ invoices_path }}">Invoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if manage_path in request.path %} active {% else %} '' {% endif %} btn btn-link" href="{{ manage_path }}">Manage</a>
                </li>
            </ul>
        </div>

        {% block unmargin %}
        {% endblock %}

        <div class="container mt-5">
            {% block tab_content %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}