{% extends 'company_panel/company_header.html' %}
{% load static %}
{% load l10n %}
{% load forms %}

{% block tab_content %}
    {% if request.user.role.expenses_manage_access %}
    <div class="row">
        <button type="button" class="mx-auto col-auto btn btn-outline-success" data-toggle="modal" data-target="#newExpenseModal"><img src="{% static 'expenses/img/add.svg' %}"> New Expense</button>
    </div>


    {% get_form "CreateExpense" request.user as form %}
    <div class="modal fade" id="newExpenseModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New expense</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'add_expense' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label>{{ form.project.label }}</label>
                            {{ form.project }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.category.label }}</label>
                            {{ form.category }}
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {{ form.notes }}
                            </div>
                            <div class="form-group col-2">
                                {{ form.amount }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary" type="submit">Create</button>
                        <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <ul class="list-group list-group-flush mt-3">
        {% if expenses %}
            <li class="list-group-item mx-auto">
                <div class="d-flex w-100">
                    <h5 class="col-auto" style="width: 2em; margin-right: 4em;">Date</h5>
                    <h5 class="col-auto align-self-center" style="width: 20em;">Project (Client)</h5>
                    <h5 class="col-auto align-self-center" style="width: 4em; margin-right: 5em;">Amount</h5>
                </div>
            </li>
            {% for expense in expenses %}
                <li class="list-group-item mx-auto">
                    <div class="d-flex w-100">
                        <p class="col-auto" style="width: 7em;">{{ expense.date|date:"D, d M" }}</p>
                        <h6 class="col-auto" style="width: 26em; word-break: break-all;"><strong>{{ expense }}</strong> ({{ expense.project.client.name }})</h6>
                        <h4 class="col-auto align-self-center" style="width: 4em;">{{ expense.amount }}</h4>
                        {% if request.user.role.expenses_manage_access %}
                        <button type="button" class="col-auto btn btn-outline-secondary" style="margin-left: 1em;" data-toggle="modal" data-target="#edit_{{ expense.pk }}"><img src="{% static 'expenses/img/edit.svg' %}" alt="Edit"></button>
                        {% endif %}
                    </div>
                    <p class="col-auto mb-1" style="margin-left: 7em;">{{ expense.category }}</p>
                    <p class="col-auto text-muted mb-1" style="width: 24em; word-break: break-word; margin-left: 7em;">{{ expense.notes }}</p>
                </li>

                {% if request.user.role.expenses_manage_access %}
                {% get_form "CreateExpense" request.user expense as edit_form %}
                <div class="modal fade" id="edit_{{ expense.pk }}" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit Expense</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="{% url 'edit_expense' expense.pk %}" method="POST">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>{{ edit_form.project.label }}</label>
                                        {{ edit_form.project }}
                                    </div>
                                    <div class="form-group">
                                        <label>{{ edit_form.category.label }}</label>
                                        {{ edit_form.category }}
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            {{ edit_form.notes }}
                                        </div>
                                        <div class="form-group col-2">
                                            {{ edit_form.amount }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-outline-danger mr-auto" href="{% url 'delete_expense' expense.pk %}">Delete</a>
                                    <button class="btn btn-outline-primary" type="submit">Save</button>
                                    <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <hr>
            <h3 class="text-muted mx-auto text-center" style="width: 5em;">Empty</h3>
        {% endif %}
    </ul>
{% endblock %}