{% extends 'timesheets/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h3 class="col-auto font-weight-bold mx-auto text-primary">Settings</h3>
        </div>

        <div class="row mt-4">
            <div class="col-4">
                <div class="list-group" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#main" role="tab">Main Info</a>
                    {% if request.user.company is not None %}
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#company" role="tab">Company</a>
                    {% endif %}
                    {% if request.user.role.manage_roles_access %}
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#roles" role="tab">Roles</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="main" role="tabpanel">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">
                                        Username
                                    </div>
                                    <div class="col-auto">
                                        {{ request.user.username }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">
                                        First name
                                    </div>
                                    <div class="col-auto">
                                        {{ request.user.first_name }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">
                                        Last name
                                    </div>
                                    <div class="col-auto">
                                        {{ request.user.last_name }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">
                                        Email
                                    </div>
                                    <div class="col-auto">
                                        {{ request.user.email }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">
                                        Date of registration
                                    </div>
                                    <div class="col-auto">
                                        {{ request.user.date_joined }}
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-4 font-weight-bold">
                                        Last login
                                    </div>
                                    <div class="col-auto">
                                        {{ request.user.last_login }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button class="btn btn-outline-primary mt-2 float-right" data-toggle="modal" data-target="#editUserModal"><img src="{% static 'settings/img/edit.svg' %}" alt="Edit"></button>
                        <div class="modal fade" id="editUserModal" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit user information</h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="{% url 'edit_user' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input class="form-control" type="text" name="username" value="{{ request.user.username }}" required>
                                            </div>
                                            <div class="form-group">
                                                <label>First name</label>
                                                <input class="form-control" type="text" name="first_name" value="{{ request.user.first_name }}" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Last name</label>
                                                <input class="form-control" type="text" name="last_name" value="{{ request.user.last_name }}" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control" type="email" name="email" value="{{ request.user.email }}" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button data-dismiss="modal" class="btn btn-outline-danger mr-auto" data-toggle="modal" data-target="#changePasswordModal">Change password</button>
                                            <button class="btn btn-outline-primary" type="submit">Save</button>
                                            <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="changePasswordModal" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change password</h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="{% url 'change_password' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Old password</label>
                                                <input class="form-control" type="password" name="old_password" required>
                                            </div>
                                            <div class="form-group">
                                                <label>New password</label>
                                                <input class="form-control" type="password" name="new_password" required>
                                            </div>
                                            <div class="form-group">
                                                <label>New password (repeat)</label>
                                                <input class="form-control" type="password" name="repeat_password" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-outline-primary" type="submit">Confirm</button>
                                            <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if request.user.company is not None %}
                        <div class="tab-pane fade" id="company" role="tabpanel">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Company name
                                        </div>
                                        <div class="col-auto">
                                            {{ request.user.company.name }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Date of creation
                                        </div>
                                        <div class="col-auto">
                                            {{ request.user.company.date_of_creation }}
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            {% if request.user.role.edit_company_info_access %}
                            <button class="btn btn-outline-primary mt-2 float-right" data-toggle="modal" data-target="#editCompanyModal"><img src="{% static 'settings/img/edit.svg' %}" alt="Edit"></button>
                            {% endif %}
                            <button class="btn btn-outline-danger mt-2" data-toggle="modal" data-target="#confirmLeave">{% if request.user.company.owner == request.user %} Delete {% else %} Leave {% endif %} company</button>

                            <div class="modal fade" id="confirmLeave" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Are you sure you want to {% if request.user.company.owner == request.user %} delete {% else %} leave {% endif %} company?</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'leave_company' %}" class="btn btn-outline-danger">Yes</a>
                                            <button class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if request.user.role.edit_company_info_access %}
                            <div class="modal fade" id="editCompanyModal" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit company information</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="{% url 'edit_company' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Company name</label>
                                                    <input class="form-control" type="text" name="name" value="{{ company.name }}" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-outline-primary" type="submit">Save</button>
                                                <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if request.user.role.manage_roles_access %}
                    <div class="tab-pane fade" id="roles" role="tabpanel">
                        <div class="row">
                            <button type="button" class="mx-auto col-auto btn btn-outline-success" data-toggle="modal" data-target="#newRoleModal"><img src="{% static 'settings/img/add.svg' %}"> New Role</button>
                        </div>

                        <div class="modal fade" id="newRoleModal" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">New Role</h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="{% url 'add_role' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input class="form-control" required type="text" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label>User info</label>
                                                <input type="checkbox" name="user_info_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Detailed project info</label>
                                                <input type="checkbox" name="detailed_project_info_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Project manage</label>
                                                <input type="checkbox" name="project_manage_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Invite user</label>
                                                <input type="checkbox" name="invite_user_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Kick user</label>
                                                <input type="checkbox" name="kick_user_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Manage expenses</label>
                                                <input type="checkbox" name="expenses_manage_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Manage invoices</label>
                                                <input type="checkbox" name="invoices_manage_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Manage clients</label>
                                                <input type="checkbox" name="client_manage_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Manage tasks</label>
                                                <input type="checkbox" name="task_manage_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Manage expenses' categories</label>
                                                <input type="checkbox" name="expense_category_manage_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Edit company info</label>
                                                <input type="checkbox" name="edit_company_info_access">
                                            </div>
                                            <div class="form-group">
                                                <label>Manage roles</label>
                                                <input type="checkbox" name="manage_roles_access">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-outline-primary" type="submit">Create</button>
                                            <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        {% for role in roles %}
                            <div class="row">
                                <h5 class="mt-5 mb-2 mx-auto col-auto font-weight-bold">{{ role.name }}<button type="button" class="col-auto btn btn-outline-secondary" style="margin-left: 1em;" data-toggle="modal" data-target="#edit_{{ role.pk }}"><img src="{% static 'settings/img/edit.svg' %}" alt="Edit"></button></h5>
                            </div>

                            <div class="modal fade" id="edit_{{ role.pk }}" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit Role</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="{% url 'edit_role' role.pk %}" method="POST">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input class="form-control" required type="text" name="name" value="{{ role.name }}">
                                                </div>
                                                <div class="form-group">
                                                    <label>User info</label>
                                                    <input type="checkbox" name="user_info_access" {% if role.user_info_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Detailed project info</label>
                                                    <input type="checkbox" name="detailed_project_info_access" {% if role.detailed_project_info_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Project manage</label>
                                                    <input type="checkbox" name="project_manage_access" {% if role.project_manage_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Invite user</label>
                                                    <input type="checkbox" name="invite_user_access" {% if role.invite_user_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Kick user</label>
                                                    <input type="checkbox" name="kick_user_access" {% if role.kick_user_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Manage expenses</label>
                                                    <input type="checkbox" name="expenses_manage_access" {% if role.expenses_manage_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Manage invoices</label>
                                                    <input type="checkbox" name="invoices_manage_access" {% if role.invoices_manage_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Manage clients</label>
                                                    <input type="checkbox" name="client_manage_access" {% if role.client_manage_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Manage tasks</label>
                                                    <input type="checkbox" name="task_manage_access" {% if role.task_manage_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Manage expenses' categories</label>
                                                    <input type="checkbox" name="expense_category_manage_access" {% if role.expense_category_manage_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Edit company info</label>
                                                    <input type="checkbox" name="edit_company_info_access" {% if role.edit_company_info_access %} checked {% endif %}>
                                                </div>
                                                <div class="form-group">
                                                    <label>Manage roles</label>
                                                    <input type="checkbox" name="manage_roles_access" {% if role.manage_roles_access %} checked {% endif %}>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-outline-danger mr-auto" href="{% url 'delete_role' role.pk %}">Delete</a>
                                                <button class="btn btn-outline-primary" type="submit">Save</button>
                                                <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Role name
                                        </div>
                                        <div class="col-auto">
                                            {{ role.name }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            User info
                                        </div>
                                        <div class="col-auto">
                                            {{ role.user_info_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Detailed project info
                                        </div>
                                        <div class="col-auto">
                                            {{ role.detailed_project_info_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Project manage
                                        </div>
                                        <div class="col-auto">
                                            {{ role.project_manage_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Invite user
                                        </div>
                                        <div class="col-auto">
                                            {{ role.invite_user_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Kick user
                                        </div>
                                        <div class="col-auto">
                                            {{ role.kick_user_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Manage expenses
                                        </div>
                                        <div class="col-auto">
                                            {{ role.expenses_manage_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Manage invoices
                                        </div>
                                        <div class="col-auto">
                                            {{ role.invoices_manage_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Manage clients
                                        </div>
                                        <div class="col-auto">
                                            {{ role.client_manage_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Manage tasks
                                        </div>
                                        <div class="col-auto">
                                            {{ role.task_manage_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Manage expenses' categories
                                        </div>
                                        <div class="col-auto">
                                            {{ role.expense_category_manage_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Edit company info
                                        </div>
                                        <div class="col-auto">
                                            {{ role.edit_company_info_access }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 font-weight-bold">
                                            Manage roles
                                        </div>
                                        <div class="col-auto">
                                            {{ role.manage_roles_access }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}