{% extends 'timesheets/company_header.html' %}
{% load static %}

{% block tab_content %}
    <div class="row btn-toolbar justify-content-center" role="toolbar">
        <div class="col-auto btn-group">
            <a class="btn btn-outline-secondary" href="#"><img src="{% static 'timesheets_app/img/arrow-left.svg' %}" alt="Previous"></a>
            <a class="btn btn-outline-secondary" href="#"><img src="{% static 'timesheets_app/img/arrow-right.svg' %}" alt="Next"></a>
        </div>

        <h3 class="col-auto text-wrap"><strong>{{ weekday }}:</strong> {{ today }}</h3>

        <div class="col-auto btn-group">
            <a class="btn btn-outline-secondary" href="#"><img src="{% static 'timesheets_app/img/calendar.svg' %}" alt="Change date"></a>
        </div>
        <div class='col-auto btn-group'>
            <a class="btn btn-outline-secondary active" href="#">Day</a>
            <a class="btn btn-outline-secondary" href="#">Week</a>
        </div>
    </div>

    <div class="row btn-toolbar mt-4 justify-content-center">
        <div class="col-auto btn-group">
            <button type="button" class="btn btn-outline-success p-4" data-toggle="modal" data-target="#newEntryModal"><img src="{% static 'timesheets_app/img/add.svg' %}" alt="Add"></a>
        </div>

        <div class="col-auto btn-group justify-content-center">
            <a class="btn btn-outline-secondary {% if today.weekday == 0 %} active {% endif %} pr-5" href="#">Mon<br><small>0:00</small></a>
            <a class="btn btn-outline-secondary {% if today.weekday == 1 %} active {% endif %} pr-5" href="#">Tue<br><small>0:00</small></a>
            <a class="btn btn-outline-secondary {% if today.weekday == 2 %} active {% endif %} pr-5" href="#">Wed<br><small>0:00</small></a>
            <a class="btn btn-outline-secondary {% if today.weekday == 3 %} active {% endif %} pr-5" href="#">Thu<br><small>0:00</small></a>
            <a class="btn btn-outline-secondary {% if today.weekday == 4 %} active {% endif %} pr-5" href="#">Fri<br><small>0:00</small></a>
            <a class="btn btn-outline-secondary {% if today.weekday == 5 %} active {% endif %} pr-5" href="#">Sat<br><small>0:00</small></a>
            <a class="btn btn-outline-secondary {% if today.weekday == 6 %} active {% endif %} pr-5" href="#">Sun<br><small>0:00</small></a>
        </div>

        <div class="modal fade" id="newEntryModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New entry</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'add_entry' %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Project</label>
                                <select name="project" class="form-control">
                                    {% for project in projects %}
                                        <option>{{ project }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Task</label>
                                <select name="task" class="form-control">
                                    {% for task in tasks %}
                                        <option>{{ task }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <textarea class="form-control" name="notes" cols="3" rows="5" placeholder="Notes (optional)"></textarea>
                                </div>
                                <div class="form-group col-2">
                                    <input type="text" name="timer" class="form-control" value="0:00">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" type="submit">Create</button>
                            <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <ul class="list-group">
            {% for entry in entries %}
                <li class="list-group-item">
                    <div class="d-flex w-100">
                        <h6 class="col-auto mr-5 align-self-center"><strong>{{ entry }}</strong> ({{ entry.project.client.name }})</h6>
                        <h4 class="col-auto ml-5 mb-1 align-self-center">{{ entry.timer }}</h4>
                        <a class="col-auto ml-2 btn btn-outline-primary" href="#"><img src="{% static 'timesheets_app/img/timer-start.svg' %}" alt="Start"> Start</a>
                    </div>
                    <p class="col-auto mb-1">{{ entry.task.name }}</p>
                    <p class="col-auto text-muted mb-1">{{ entry.notes }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}