{% extends 'timesheets/company_header.html' %}
{% load static %}

{% block tab_content %}
    <div class="row btn-toolbar justify-content-center" role="toolbar">
        <div class="col-auto btn-group">
            <a class="btn btn-outline-secondary" href="{% url 'time' previous_date.year previous_date.month previous_date.day %}"><img src="{% static 'timesheets_app/img/arrow-left.svg' %}" alt="Previous"></a>
            <a class="btn btn-outline-secondary" href="{% url 'time' next_date.year next_date.month next_date.day %}"><img src="{% static 'timesheets_app/img/arrow-right.svg' %}" alt="Next"></a>
        </div>

        <h3 class="col-auto" style="width: 17em; word-wrap: break-all;">
            <strong>{{ date|date:"l" }}</strong>, {{ date|date:"d M" }}
            {% if date == today %}
            (Today)
            {% else %}
            <small><a class="btn btn-link py-0" href="{% url 'time' today.year today.month today.day %}">return to today</a></small>
            {% endif %}
        </h3>

        <div class="col-auto btn-group">
            <a class="btn btn-outline-secondary" href="#"><img src="{% static 'timesheets_app/img/calendar.svg' %}" alt="Change date"></a>
        </div>
        <div class='col-auto btn-group'>
            <a class="btn btn-outline-secondary active" href="#">Day</a>
            <a class="btn btn-outline-secondary" href="#">Week</a>
        </div>
    </div>

    <div class="row btn-toolbar mt-4 justify-content-center">
        <div class="col-auto btn-group" style="margin-right: 0.1em;">
            <button type="button" class="btn btn-outline-success p-4" data-toggle="modal" data-target="#newEntryModal"><img src="{% static 'timesheets_app/img/add.svg' %}" alt="Add"></a>
        </div>

        <div class="col-auto btn-group justify-content-center">
            {% for weekday in week %}
                <a class="btn btn-outline-secondary {% if date.weekday == weekday.weekday %} active {% endif %}" style="padding-right: 3em;" href="{% url 'time' weekday.year weekday.month weekday.day %}">{{ weekday|date:"D" }}<br><small>{% cycle totals.0.time totals.1.time totals.2.time totals.3.time totals.4.time totals.5.time totals.6.time %}</small></a>
            {% endfor %}

            <button type="button" class="btn btn-outline-secondary text-dark" disabled>Total: {{ week_total }}</button>
        </div>

        <div class="modal fade" id="newEntryModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New entry</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'add_entry' date.year date.month date.day %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Project</label>
                                <select name="project" class="form-control">
                                    {% for project in projects %}
                                        <option>{{ project }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Task</label>
                                <select name="task" class="form-control">
                                    {% for task in tasks %}
                                        <option>{{ task }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <textarea class="form-control" name="notes" cols="3" rows="5" placeholder="Notes (optional)"></textarea>
                                </div>
                                <div class="form-group col-2">
                                    <input type="text" name="timer" class="form-control" value="0:00">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-primary" type="submit">Create</button>
                            <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-2">
        <ul class="list-group" style="margin-left: 6.5em;">
            {% for entry in entries %}
                <li class="list-group-item">
                    <div class="d-flex w-100">
                        <h6 class="col-auto align-self-center" style="width: 30em; word-break: break-all;"><strong>{{ entry }}</strong> ({{ entry.project.client.name }})</h6>
                        <h4 class="col-auto mb-1 align-self-center">{{ entry.timer }}</h4>
                        {% if entry.is_active == True %}
                            <a class="col-auto btn btn-outline-secondary" style="margin-left: 1em;" href="{% url 'stop' entry.pk %}"><img src="{% static 'timesheets_app/img/timer-stop.svg' %}"> Stop</a>
                        {% else %}
                            <a class="col-auto btn btn-outline-primary" style="margin-left: 1em;" href="{% url 'start' entry.pk %}"><img src="{% static 'timesheets_app/img/timer-start.svg' %}"> Start</a>
                        {% endif %}
                    </div>
                    <p class="col-auto mb-1">{{ entry.task.name }}</p>
                    <p class="col-auto text-muted mb-1" style="width: 24em; word-break: break-word;">{{ entry.notes }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}