{% extends 'company_panel/company_header.html' %}
{% load static %}
{% load l10n %}
{% load forms %}

{% block tab_content %}
<div class="row">
    <h3 class="col-auto font-weight-bold mx-auto text-primary">Add items</h3>
</div>

{% get_form "CreateItem" request.user as form %}
<form action="{% url 'add_item' invoice.pk %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>{{ form.project.label }}</label>
        {{ form.project }}
    </div>

    <button class="btn btn-outline-success float-right" type="submit">Create item</button>
    <a href="{% url 'invoices' %}" class="btn btn-outline-primary">Back to invoices</a>
</form>

{% if items %}
    <ul class="list-group list-group-flush mt-5">
        {% for item in items %}
            <li class="list-group-item mx-auto">
                <div class="d-flex w-100">
                    <h5 class="col-auto mb-1" style="width: 21em; word-break: break-word;">{{ item }}</h5>
                    <h5 class="col-auto" style="width: 5em; word-break: break-all; margin-left: 1em;">{{ item.total_price }}</h5>
                    <button type="button" class="col-auto btn btn-outline-secondary" style="margin-left: 1em;" data-toggle="modal" data-target="#edit_{{ item.pk }}"><img src="{% static 'invoices/img/edit.svg' %}" alt="Edit"></button>
                </div>
            </li>
            <div class="modal fade" id="edit_{{ item.pk }}" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit item</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% get_form "CreateItem" request.user item as edit_form %}
                        <form action="{% url 'edit_item' item.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>{{ edit_form.project.label }}</label>
                                    {{ edit_form.project }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-outline-danger mr-auto" href="{% url 'delete_item' item.pk %}">Delete</a>
                                <button class="btn btn-outline-primary" type="submit">Save</button>
                                <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}