{% extends 'company_panel/company_header.html' %}
{% load static %}

{% block tab_content %}
<div class="row">
    <h3 class="col-auto font-weight-bold mx-auto text-primary">New invoice</h3>
</div>

<form action="{% url 'add_invoice' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label>Client</label>
        <select name="client" class="form-control" required>
            {% for client in clients %}
                <option>{{ client }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" name="date" class="form-control">
    </div>
    <div class="form-row">
        <div class="form-group col">
            <textarea class="form-control" name="notes" cols="3" rows="5" placeholder="Notes (optional)"></textarea>
        </div>
    </div>

    <button class="btn btn-outline-primary float-right" type="submit">Add items</button>
</form>
{% endblock %}