{% extends 'authentication/auth_base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div class="d-flex justify-content-center">
            <div class="form-group">
                {{ field }}
            </div>
        </div>
        {% endfor %}

        <div class="d-flex justify-content-center">
            <div class="col-auto">
                <input type="submit" class="btn btn-success" value="{{ primary_value }}">
                <a href="{% url secondary_link %}" class="btn btn-primary">{{ secondary_value }}</a>
            </div>
        </div>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger mx-auto text-center" style="width: 16em;" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}