{% extends 'manage/base.html' %}
{% load static %}

{% block tab_content %}
{% if request.user.role.expense_category_manage_access %}
<div class="row">
    <button type="button" class="mx-auto col-auto btn btn-outline-success" data-toggle="modal" data-target="#newCategoryModal"><img src="{% static 'manage_app/img/add.svg' %}"> New Task</button>
</div>

<div class="modal fade" id="newCategoryModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Category</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'add_expense_category' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Category name</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="submit">Create</button>
                    <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<ul class="list-group mt-3">
    {% for category in categories %}
        <li class="list-group-item mx-auto">
            <div class="d-flex w-100">
                {% if request.user.role.expense_category_manage_access %}
                <button type="button" class="col-auto btn btn-outline-secondary" data-toggle="modal" data-target="#edit_{{ category.pk }}"><img src="{% static 'manage_app/img/edit.svg' %}" alt="Edit"></button>
                {% endif %}
                <h6 class="col-auto font-weight-bold align-self-center" style="width: 20em; word-break: break-all;">
                    {{ category }} 
                </h6>
            </div>
        </li>

        {% if request.user.role.expense_category_manage_access %}
        <div class="modal fade" id="edit_{{ category.pk }}" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Category</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'edit_expense_category' category.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Category name</label>
                                <input type="text" name="name" class="form-control" value="{{ category.name }}" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'delete_expense_category' category.pk %}" class="btn btn-outline-danger mr-auto">Delete</a>
                            <button class="btn btn-outline-primary" type="submit">Save</button>
                            <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}