{% extends 'manage/base.html' %}
{% load static %}

{% block tab_content %}
<div class="row">
    <button type="button" class="mx-auto col-auto btn btn-outline-success" data-toggle="modal" data-target="#newTaskModal"><img src="{% static 'manage_app/img/add.svg' %}"> New Task</button>
</div>

<ul class="list-group mt-3">
    {% for task in tasks %}
        <li class="list-group-item mx-auto">
            <div class="d-flex w-100">
                <button type="button" class="col-auto btn btn-outline-secondary" data-toggle="modal" data-target="#edit_{{ task.pk }}"><img src="{% static 'manage_app/img/edit.svg' %}" alt="Edit"></button>
                <h6 class="col-auto font-weight-bold align-self-center" style="width: 20em; word-break: break-all;">
                    {{ task }} 
                    <span class="text-muted">({{ task.default_hourly_rate }})</span>
                </h6>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}