{% extends 'manage/base.html' %}
{% load static %}
{% load l10n %}
{% load forms %}

{% block tab_content %}
{% if request.user.role.task_manage_access %}
<div class="row">
    <button type="button" class="mx-auto col-auto btn btn-outline-success" data-toggle="modal" data-target="#newTaskModal"><img src="{% static 'manage_app/img/add.svg' %}"> New Task</button>
</div>

{% get_form "CreateTask" as form %}
<div class="modal fade" id="newTaskModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Task</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'add_task' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label>{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.default_hourly_rate.label }}</label>
                        {{ form.default_hourly_rate }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="submit">Create</button>
                    <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

<ul class="list-group mt-3">
    {% for task in tasks %}
        <li class="list-group-item mx-auto">
            <div class="d-flex w-100">
                {% if request.user.role.task_manage_access %}
                <button type="button" class="col-auto btn btn-outline-secondary" data-toggle="modal" data-target="#edit_{{ task.pk }}"><img src="{% static 'manage_app/img/edit.svg' %}" alt="Edit"></button>
                {% endif %}
                <h6 class="col-auto font-weight-bold align-self-center" style="width: 20em; word-break: break-all;">
                    {{ task }} 
                    <span class="text-muted">({{ task.default_hourly_rate }})</span>
                </h6>
            </div>
        </li>

        {% if request.user.role.task_manage_access %}
        <div class="modal fade" id="edit_{{ task.pk }}" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Task</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% get_form "CreateTask" task as edit_form %}
                    <form action="{% url 'edit_task' task.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label>{{ edit_form.name.label }}</label>
                                {{ edit_form.name }}
                            </div>
                            <div class="form-group">
                                <label>{{ edit_form.default_hourly_rate.label }}</label>
                                {{ edit_form.default_hourly_rate }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'delete_task' task.pk %}" class="btn btn-outline-danger mr-auto">Delete</a>
                            <button class="btn btn-outline-primary" type="submit">Save</button>
                            <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% include 'timesheets/pager.html' %}
</ul>
{% endblock %}